
body {

  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #d6d1d1;
    color: #fff;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
 /* Update product grid to display 3 items per row */
.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .product-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-card img {
    width: 50%;
    height: auto;
  }
  
header {
 background-image:url("images/photo_6197295319302126648_ycrop.jpg");
  padding-top: 100px; /* Adjust the top padding as needed */
}

/* Set background color for the entire page */
body {
  background-image: url("images/photo_6197295319302126648_y.jpg") ;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Set background color for the product cart area */
.products {
  background-color: rgb(87, 78, 128); /* Set background color to white */
}

  
  